
<%- include("../admin/layouts/adminHeader.ejs") %>


<body class="g-sidenav-show  bg-gray-200">
  <%- include("../admin/layouts/adminSideBar.ejs") %>
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
      <!-- Navbar -->
      <%- include("../admin/layouts/adminNavBar.ejs") %>
      <!-- End Navbar -->
      <div class="container-fluid py-4" id="addCatogory-content">
        <div class="row">
          <div class="col-12 , elemDesign">
            <div class="card my-4">
              <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 elemDesign2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                  <h6 class="text-white text-capitalize ps-3">ADD CATEGORIES</h6>
                </div>
              </div>
              <div class="card-body px-0 pb-2">
                <div class="table-responsive p-0">
                    <div  id="error" style="color: red;"></div>
                    <form class="forms-sample" method="post" id="form">
                        <div class="form-group row">
                          <div class="col-sm-9">
                            <input type="text" name="name" class="form-control" id="category" placeholder="Category Name"  >
                          </div>
                        </div>
                        <a href="category">
                        <button type="submit" class="btn btn-primary mr-2">Submit</button>
                      </a>
                        <button class="btn btn-dark">Cancel</button>
                      </form>

                    </div>
                    <% if(typeof message !== 'undefined'){ %>
                      <span id="er2" style="color: rgb(0, 246, 12); text-align: center "
                        ><%= message %>
                      </span>
                      <% } %>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
    
      </div>
    </main>
   
    <%- include("../admin/layouts/adminFooter.ejs") %>