
<%- include("../admin/layouts/adminHeader.ejs") %>

<body class="g-sidenav-show bg-gray-200">
  <%- include("../admin/layouts/adminSideBar.ejs") %>
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg">
    <!-- Navbar -->
    <%- include("../admin/layouts/adminNavBar.ejs") %>
    <!-- End Navbar -->
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12 elemDesign">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 elemDesign2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">CUSTOMERS</h6>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table table-dark">
                  <thead>
                    <tr>
                      <th>Full Name</th>
                      <th>Email</th>
                      <th>Mobile No.</th>
                      <th>Joined On</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for (var i = 0; i < data.length; i++) { %>
                    <tr>
                      <td><%= data[i].firstName + ' ' + data[i].lastName %></td>
                      <td><%= data[i].email %></td>
                      <td><%= data[i].mobile %></td>
                      <td><%= new Date(data[i].createdAt).toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' }) %></td>
                      <td>
                        
                        <% if (data[i].is_blocked === true) { %>
                          <button type="button" class="btn btn-danger btn-fw" onclick="showConfirmation('<%= data[i]._id %>', 'block')">Blocked</button>
                        <% } else { %>
                          <button type="button" class="btn btn-success btn-fw" onclick="showConfirmation('<%= data[i]._id %>', 'unblock')">Block</button>
                        <% } %>


                      </td>
                    </tr>
                    <% } %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>






<!-- ==========================================Sweet allert script==================================================================================== -->

<script>
  function showConfirmation(userId, action) {
    let confirmationText;
    let confirmationTitle;

    if (action === 'unblock') {
      confirmationText = 'Are you sure you want to Block this user?';
      confirmationTitle = 'Block User';
    } else if (action === 'block') {
      confirmationText = 'Are you sure you want to Unblock this user?';
      confirmationTitle = 'Unblock User';
    }

    Swal.fire({
      title: confirmationTitle,
      text: confirmationText,
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#d33',
      cancelButtonColor: '#3085d6',
      confirmButtonText: `Yes, ${action} it!`,
      cancelButtonText: 'Cancel',
    }).then((result) => {
      if (result.isConfirmed) {
        
        window.location.href = `/admin/is_blockedUser?id=${userId}`;
      }
    });
  }
</script>






    <%- include("../admin/layouts/adminFooter.ejs") %>