
<%- include("../admin/layouts/adminHeader.ejs") %>


<body class="g-sidenav-show  bg-gray-200">
  <%- include("../admin/layouts/adminSideBar.ejs") %>
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
      <!-- Navbar -->
      <%- include("../admin/layouts/adminNavBar.ejs") %>
      <!-- End Navbar -->
      <div class="container-fluid py-4">
        <div class="row">
          <div class="col-12 , elemDesign">
            <div class="card my-4">
             <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 elemDesign2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                    <a href="">
                        <button type="button" class="btn btn-success btn-md float-right mr-5" id="addButton">Add</button>
                      </a>
                  <h6 class="text-white text-capitalize ps-3">CUSTOMERS</h6>
                </div>
              </div>
              <div class="card-body px-0 pb-2">
                <div class="table-responsive p-0">
                  <table class="table table-dark">
                    
                    <thead>
                      <tr>

                          <th> Full Name </th>
                          <th> Email </th>
                          <th> Mobile No.</th>
                          <th> Status </th>
                          <th> Joined On</th>
                          <th> Action</th>
                      </tr>
                  </thead>
                  <tbody>
                    <% for (var i = 0; i < data.length; i++) { %>
                      <tr>
                          <!-- list -->
                          <td> <%= data[i].firstName+ ' '+data[i].lastName %> </td>
                          <td> <%= data[i].email %> </td>
                          <td> <%= data[i].mobile %> </td>

                         <td>
                               <% if(data[i].isVerified==false){ %>
                               <span class="pl-2 text-danger">Not verified</span>
                               <% } else{ %> 
                                  <span class="pl-2 text-success">verified</span>
                               <% }%>   
                          </td>
                          
                          
                          <td> <%= new Date(data[i].createdAt).toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' })%> </td>
                          <td>
                              
                                <% if (data[i].isBlock == false) { %>
                                  <button data-id="<%= data[i]._id %>" onclick="blockButton('<%= data[i]._id %>')" class="btn btn-inverse-danger">unBlock</button>
                                <% } else { %>
                                  <button data-id="<%= data[i]._id %>" onclick="blockButton('<%= data[i]._id %>')" class="btn btn-success">block</button>
                                <% } %>
                          </td>
                          
                          
                          
                          
                      </tr>
                  <% } %>

                  </tbody>
                  </table>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
    
      </div>
    </main>
    </main>

    <%- include("../admin/layouts/adminFooter.ejs") %>