
<%- include("../admin/layouts/adminHeader.ejs") %>

<style>
  .tableBody td{

    background-color: rgb(248, 249, 250)!important;
    color: black!important;

    
  }
</style>


<body class="g-sidenav-show bg-gray-200">
  <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark" id="sidenav-main">
    <div class="sidenav-header d-flex justify-content-center">
      <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
      <img  src="/static/adminAssets/images/icons/mlive logo white.png"  alt="main_logo" >
    </div>
    <hr class="horizontal light mt-0 mb-2">
    <div class="collapse navbar-collapse  w-auto  max-height-vh-100" id="sidenav-collapse-main">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-white " href="home">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">dashboard</i>
            </div>
            <span class="nav-link-text ms-1">Dashboard</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white  " href="category">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">table_view</i>
            </div>
            <span class="nav-link-text ms-1">Categories</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white  " href="customer">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">receipt_long</i>
            </div>
            <span class="nav-link-text ms-1">Customers</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white active bg-gradient-primary " href="product">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">view_in_ar</i>
            </div>
            <span class="nav-link-text ms-1">Products</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="userOrders">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">format_textdirection_r_to_l</i>
            </div>
            <span class="nav-link-text ms-1">Orders</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="couponManagement">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">notifications</i>
            </div>
            <span class="nav-link-text ms-1">Coupons</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="offer">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">notifications</i>
            </div>
            <span class="nav-link-text ms-1">Offers</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="banners">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">notifications</i>
            </div>
            <span class="nav-link-text ms-1">Banners</span>
          </a>
        </li>
      </ul>
    </div>
  </aside>
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg">
      <!-- Navbar -->
      <%- include("../admin/layouts/adminNavBar.ejs") %>
      <!-- End Navbar -->
      <div class="container-fluid py-4">
        <div class="row">
          <div class="col-12 col-md-8 col-lg-9 elemDesign" style=" width: 1320px;">
            <div class="card my-4 ">
              <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 elemDesign2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                  <a href="/admin/addProduct">
                    <button type="button" class="btn btn-success btn-md float-right mr-5" id="addButton">Add</button>
                  </a>
                  <h6 class="text-white text-capitalize ps-3">PRODUCT</h6>
                </div>
              </div>
              <div class="card-body px-0 pb-2">
                <div class="table-responsive p-0">
                  <table class="table table-dark " id="productTable">
                    <thead>
                      <tr>
                        <th class="text-center">Image</th>
                        <th class="text-center">Brand</th>
                        <th class="text-center">Product Name</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Quantity</th>
                        <th class="text-center">Details</th>
                        <th class="text-center">edit</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Action</th>
                        <th class="text-center">Apply Coupon</th>
                        <th> </th>
                      </tr>
                    </thead>
                    <tbody class="tableBody ">
                      <% for (let i = 0; i < product.length; i++) { %>
                        <tr>
                          <td  class="text-center ">
                            <img  src="/static/adminAssets/images/<%= product[i].image[0] %>" alt="" style="height: 100px; width: 90px;">
                          </td>
                          <td style="color: aliceblue; padding-block: 42px;" class="text-center">
                            <%= product[i].brand %>
                          </td>
                          <td style="color: aliceblue; padding-block: 42px;" class="text-center">
                            <%= product[i].productName %>
                          </td>
                          <!-- <td style="color: aliceblue;" class="text-center">
                            <%= product[i].category %>
                          </td> -->
                          <td style="color: aliceblue; padding-block: 42px;" class="text-center">
                            <%= product[i].price %><br>
                           
                              <p style="font-size: 12px;">dp:(<%= product[i].discountedPrice %>)</p>
                          
                            
                          </td>
                          <td style="color: aliceblue; padding-block: 42px;" class="text-center">
                            <%= product[i].quantity %>
                          </td>
                          <td style="color: aliceblue; padding-block: 42px; " class="text-center">
                            <a href="/admin/adminProductDetails?id=<%= product[i]._id%>" class="btn btn-primary">View Details	&#62;</a>
                          </td>
                          <td style="padding-block: 42px;">
                            <% if( product[i].quantity <=0 ) {%>
                                <span class="text-danger text-center">Out Of Stock </span>
                                <%}else{%>
                                    <span class="text-success text-center">In Stock </span>
                                    <%}%>
                        </td>
                          <td style="padding-block: 42px;"><a href="/admin/editProduct?id=<%= product[i]._id%>"><button type="button" class="btn btn-primary btn-sm" style="color: rgb(255, 255, 255);">Edit</button></a></td>
                          <td style="padding-block: 42px;">
                           <% if( product[i].is_active === true){ %>
                             <a href="/admin/is_activeProduct?id=<%= product[i]._id %>">
                           <button type="button" class="btn btn-success btn-sm">List</button></a>
                             <% } else { %>
                               <a href="/admin/is_activeProduct?id=<%= product[i]._id %>">
                                 <button type="button" class="btn btn-outline-secondary btn-sm">Unlist</button></a>
                               <% } %>
                          </td>
                          <td style="padding-block: 42px;"> <% if( product[i].offer ){%><%= product[i].offer.name %>( <%= product[i].offer.percentage %>% )<%} else { %>No offers<% }%></td>
                  <td> 
                    <% if ( product[i].offer ){%>
                      
                      <button onclick="removeOffer('<%= product[i]._id %>')" class="btn btn-secondary btn-sm" style="margin-top: 34px;"> Remove offer </button>
                    <% } else {%>
                      <button class="btn btn-info btn-sm " style="margin-top: 34px;" onclick="showModal('<%= product[i]._id %>')"> Apply offer </button>
                    <% }%>
                  </td>



                          <!-- Modal to apply offer to product start -->
                          <div class="modal fade" id="discountModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              
                              <% if( availableOffers && availableOffers.length > 0) { %>
                                <% for( offer of availableOffers ) { %>
                        
                                    <div class="modal-content rounded-0">
                                      <div data-offerid="<%= offer._id %>" style="cursor: pointer;" class="modal-body text-center">
                                            <div class="icon text-danger">
                                                <i style="font-size: 20px;" class="fas fa-gift"></i>
                                            </div>
                                            <div class="notice">  
                                                    <h2><%= offer.name %></h2>                          
                                                    <h4><%= offer.percentage %>% Discount</h4>
                                                <p>Valid from <%= offer.startingDate.toLocaleDateString('en-US', { year: 'numeric' ,
                                                  month: 'short' , day: '2-digit' }).replace(/\//g,'-') %> to <%= offer.expiryDate.toLocaleDateString('en-US', { year: 'numeric' ,
                                                  month: 'short' , day: '2-digit' }).replace(/\//g,'-') %> </p>
                                            </div>
                                            <div class="code"></div>
                                        </div>
                                    </div>
                                <% } %>
                                <% } %>
                            </div>
                          </div>
                          <!-- Modal to apply offer to product end -->

                            
                       
                        </tr>
                      <% } %>
                    </tbody>
                  </table>


                  
                  <!-- Pagination -->
        

        <!-- Pagination End -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 col-lg-3 elemDesign">
            <!-- Sidebar content for medium and large screens -->
          </div>
        </div>
      </div>
    </main>



    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>

  function showModal(productId) {
        $('#discountModal').modal('show');
        const offerElements = document.querySelectorAll('.modal-body.text-center');
        offerElements.forEach((element) => {
            element.onclick = function() {
                const offerId = this.getAttribute('data-offerid');
                enterOffer(offerId, productId); 
            };
        });
    }

    async function enterOffer(offerId, productId) {
      $('#discountModal').modal('hide');
        const response = await axios.patch( '/admin/apply_offer', { offerId, productId })
        if( response.data.success ) {
          
          Swal.fire('Offer applied')
          updateOfferContent(productId, response.data.offer)
          window.location.reload()
        }else{
          Swal.fire('Category offer has greater discount')
        }
    }

    async function removeOffer(productId) {
  try {
    const confirmation = await Swal.fire({
      title: 'Confirm Removal',
      text: 'Are you sure you want to remove the offer?',
      icon: 'warning',
      showCancelButton: true,
      confirmButtonText: 'Yes, remove it!',
      cancelButtonText: 'Cancel'
    });

    if (confirmation.isConfirmed) {
      const response = await axios.patch('/admin/remove_offer', { productId });
      if (response.data.success) {
        updateOfferContent(productId, null);
        Swal.fire('Offer Removed', '', 'success');
        window.location.reload()
      }
    }
  } catch (error) {
    console.log(error.message);
  }
}

    function updateOfferContent(productId, offer) {
  const offerCell = $(`tr[data-product-id="${productId}"] td:nth-child(8)`); // Update to the correct column index
  const actionCell = $(`tr[data-product-id="${productId}"] td:nth-child(9)`);

  if (offer) {
    offerCell.html(`${offer.name} (${offer.percentage}%)`);
    actionCell.html(`<button onclick="removeOffer('${productId}')" class="btn btn-warning">Remove offer</button>`);
  } else {
    offerCell.text('No offers');
    actionCell.html(`<button class="btn btn-info" onclick="showModal('${productId}')">Apply offer</button>`);
  }


}
</script>

<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>



<script>
$('#productTable').DataTable({
    responsive: true,
    
});
</script>

    <%- include("../admin/layouts/adminFooter.ejs") %>