<%- include("../admin/layouts/adminHeader.ejs") %>

<style>
  .color{
    color: #ffff;
  }

  .status-delivered {
    color: rgb(0, 255, 0);
  }
  .status-pending {
    color: orange;
  }
  .status-placed {
    color: blue;
  }
  .status-shipped {
    color: lightblue;
  }
  .status-cancelled {
    color: red;
  }
  .status-out-for-delivery {
    color: yellow;
  }
</style>

<body class="g-sidenav-show bg-gray-200">
  <%- include("../admin/layouts/adminSideBar.ejs") %>
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg">
    <!-- Navbar -->
    <%- include("../admin/layouts/adminNavBar.ejs") %>
    <!-- End Navbar -->
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12 col-md-8 col-lg-9 elemDesign" style="width: 1320px;">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 elemDesign2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">ORDERS</h6>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive">
                <table class="table" id="user-table" style="text-align: center;">
                  <thead>
                    <tr>
                      <th> User </th>
                      <th> Order Date</th>
                      <th> Quantity</th>
                      <th> Price</th>
                      <th> Payment Status</th>
                      <th> Order Status</th>
                      <th> Action</th>
                    </tr>
                  </thead>
                  <tbody style="background-color: #344767;">
                    <% for (i = orders.length - 1; i >= 0; i--) { %>
                      <tr style="text-align: center;">
                        <!-- list -->
                        <td class="color"><%= orders[i].user.email %></td>
                        <td class="color">
                          <span style="font-weight: 100;" class="pl-2">
                            <%= orders[i].orderDetails.date.toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: '2-digit' }).replace(/\//g, '-') %>
                          </span>
                        </td>
                        <td class="color"><%= orders[i].orderDetails.quantity %></td>
                        <td class="color">₹<%= orders[i].orderDetails.totalAmount %></td>
                        <td class="color">
                          <p
                            <% if (orders[i].orderDetails.paymentStatus == "Pending") { %>
                              class="btn-inverse-warning"
                            <% } else if (orders[i].orderDetails.paymentStatus == "Success") { %>
                              class="btn-inverse-success"
                            <% } else if (orders[i].orderDetails.paymentStatus == "Failed") { %>
                              class="btn-inverse-danger"
                            <% } %>
                          ><%= orders[i].orderDetails.paymentStatus %></button>
                        </td>
                        <td>
                          <p
                            <% if (orders[i].orderDetails.OrderStatus == "Delivered") { %>
                              class="status-delivered"
                            <% } else if (orders[i].orderDetails.OrderStatus == "Pending") { %>
                              class="status-pending"
                            <% } else if (orders[i].orderDetails.OrderStatus == "Placed") { %>
                              class="status-placed"
                            <% } else if (orders[i].orderDetails.OrderStatus == "Shipped") { %>
                              class="status-shipped"
                            <% } else if (orders[i].orderDetails.OrderStatus == "Cancelled") { %>
                              class="status-cancelled"
                            <% } else if (orders[i].orderDetails.OrderStatus == "OutforDelivery") { %>
                              class="status-out-for-delivery"
                            <% } %>
                          ><%= orders[i].orderDetails.OrderStatus %></p>
                        </td>
                        
                        
                        <td>
                          <a href="/admin/orderFullDetails?orderId=<%= orders[i].orderDetails._id %>&productId=<%= orders[i].product._id %>"
                            class="btn btn-primary">Manage</a>
                        </td>
                      </tr>
                    <% } %>
                    <!-- list -->
                  </tbody>
                </table>
                
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 col-lg-3 elemDesign">
          <!-- Sidebar content for medium and large screens -->
        </div>
      </div>
    </div>
  </main>
  <%- include("../admin/layouts/adminFooter.ejs") %>
</body>
