<%- include('../users/mainLayout/mainHeader.ejs')%>





<!-- breadcrumb -->
<div class="container">
    <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
        <a href="index.html" class="stext-109 cl8 hov-cl1 trans-04">
            Home
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>

        <span class="stext-109 cl4">
            Shoping Cart
        </span>
    </div>
</div>
    

<!-- Shoping Cart -->
<form class="bg0 p-t-75 p-b-85">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
                <div class="m-l-25 m-r--38 m-lr-0-xl">
                    <div class="wrap-table-shopping-cart">
                        <table class="table table-shopping-cart">
                            <tr class="table_head">
                                <th class="column-1">Product</th>
                                <th class="column-2"></th>
                                <th class="column-3">Price</th>
                                <th class="column-4">Quantity</th>
                                <th class="column-5">Total</th>
                            </tr>
                            <% if (cart && cart.length > 0) { %>
                                <% cart.forEach((data) => { %>
                                    <tr class="table_row">
                                        <td class="column-1">
                                            <div class="how-itemcart1">
                                                <img src="/static/adminAssets/images/<%= data.productId.image[0] %>" alt="IMG">
                                            </div>
                                        </td>
                                        <td class="column-2"><%= data.productId.productName %></td>
                                        <td class="column-3"><%= data.productId.price %></td>
                                        <td class="column-4">
                                             <div class="wrap-num-product flex-w m-l-auto m-r-0">
                                               
                                                <a class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m " onclick="cartCount('<%=data.productId._id%>','<%=userId%>',-1)" >-</a>
                                        <span class="mtext-104 cl3 txt-center num-product p-2" id="<%=data.productId._id%>"><%=data.quantity%></span>
                                        <a class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m " onclick="cartCount('<%=data.productId._id%>','<%=userId%>', 1)" >+</a>
                                                
                                            </div> 
                                            

                                        </td>
                                        <td class="column-5">
                                            <%= total %>
                                        </td>
                                        <td class="column-5">
                                            <a class=" btn btn-danger text-white " onclick="removeProduct('<%=data.productId._id%>')">Remove</a>
                                        </td>
                                    </tr>
                                <% }); %>
                            <% }else{%>
                                <tr>cart is empty</tr>
                            <%}%>
                        </table>
                    </div>

                    <div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">
                        <div class="flex-w flex-m m-r-20 m-tb-5">
                            <input class="stext-104 cl2 plh4 size-117 bor13 p-lr-20 m-r-10 m-tb-5" type="text" name="coupon" placeholder="Coupon Code">
                            
                            <div class="flex-c-m stext-101 cl2 size-118 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-5">
                                Apply coupon
                            </div>
                        </div>

                        <div class="flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10">
                            Update Cart
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-xl-5 m-lr-auto m-b-50">
                <div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
                    <h4 class="mtext-109 cl2 p-b-30">
                        Cart Totals
                    </h4>

                    <div class="flex-w flex-t bor12 p-b-13">
                        <div class="size-208">
                            <span class="stext-110 cl2">
                                Subtotal:
                            </span>
                        </div>

                        <div class="size-209">
                            <span class="mtext-110 cl2">
                                <%= total %>
                            </span>
                        </div>
                    </div>

                    <div class="flex-w flex-t p-t-27 p-b-33">
                        <div class="size-208">
                            <span class="mtext-101 cl2">
                                Total:
                            </span>
                        </div>

                        <div class="size-209 p-t-1">
                            <span class="mtext-110 cl2">
                                $79.65
                            </span>
                        </div>
                    </div>

                    <button class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
                        Proceed to Checkout
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
      function removeProduct(productId){
           $.ajax({
            url:'/remove-product',
            method:'post',
            encoded:true,
            data:{
                product:productId
            }
           }).done((data)=>{
            if(data){
            
            swal('Item removed')
            location.reload()
            }else{
                res.json({action:failed})
            }
           })
    }





    function cartCount(productId,userId,count){
        const quantity=parseInt(document.getElementById(productId).innerHTML)
        count = parseInt(count)
        if(count==-1 && quantity==0){
            removeProduct(productId)
        }else{
            $.ajax({
            url:'/cart-quantity',
            method: "post",
            encoded: true,
            data:{
               product:productId,
               user:userId,
               count:count,
               quantity:quantity
            },
             }).done((data)=>{
                if(data){
                    document.getElementById(productId).innerText = quantity +count
                    //  location.reload()
                    // $(proId).html(data);
                    // alert(data)
                }else{
                    alert('failed')
                }
             })
        }
        
        
    }
</script>

<%- include('../users/mainLayout/mainFooter.ejs')%>