<%- include('../users/mainLayout/mainHeader.ejs')%>



<main class="main">
    <div
      class="page-header text-center"
      style="background-image: url('assets/images/page-header-bg.jpg')"
    >
      <div class="container">
        <h1 class="page-title">Checkout<span>Shop</span></h1>
      </div>
      <!-- End .container -->
    </div>
    <!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
      <div class="container">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/cart">Cart</a></li>
          <li class="breadcrumb-item active" aria-current="page">Checkout</li>
        </ol>
      </div>
      <!-- End .container -->
    </nav>
    <!-- End .breadcrumb-nav -->
  
    <div class="page-content">
      <div class="checkout">
        <div class="container">
          <div class="">
            <label for="checkout-discount-input" class="text-truncate"
              >Have a coupon? <span>Enter your code below.</span></label
            >
          </div>
          <div class="cart-discount">
            
              <div class="input-group mb-5">
                <input
                  type="text"
                  class="form-control"
                  required
                  name="code"
                  id="code"
                  placeholder="coupon code"
                  style="
                    height: 40px;
                    border: 1px dotted #000;
                    padding-left: 10px;
                  "
                />
  
                <button
                  class="btn btn-outline-dark"
                  style="margin: 0; width: 70px; height: 40px"
                  
                >
                  <i class="icon-long-arrow-right"></i>
                </button>
              </div>
          </div>
  
          <form id="checkout-form" >
            <div class="row">
              <div class="col-md-8">
                <h5 style="text-align: center;">Choose Billing Address</h5><br>
                <% if(address.length> 0){ address.forEach((address)=>{ %>

                    

                
                

                  <div class="container">
                    <div class="row">
                      
                        <div class="col-lg-4 col-md-6 col-sm-12">
                          <div class="card mb-3">
                            <label class="custom-label p-3 border rounded-4 m-2">
                              <div class="form-check d-flex align-items-center mx-4">
                                <input class="form-check-input" type="radio" value="<%= address.fullName %>,<%= address.mobile %>,<%= address.country %>,<%= address.city %>,<%= address.state %>,<%= address.pincode %>"
                                  name="address" id="flexRadioDefault">
                                <div class="mx-5">
                                  <p class="text-dark"><b><%= address.fullName %></b>, <%= address.city %>, <%= address.state %>. Contact Number: <b style="color: #043a6c;"><span class="material-symbols-outlined" style="font-size: 13px;"><%= address.mobileNumber %></span><%= address.mobileNumber %></b></p>
                                  <p><%= address.pincode %>, <%= address.country %></p>
                                </div>
                              </div>
                            </label>
                          </div>
                        </div>
                      
                    </div>
                  </div>
                  
                <% } ) } %>


              </div>
              <!-- End .col-md-6 -->
  
              <aside class="col-lg-3">
                <div class="summary">
                  <h3 class="summary-title">Your Order</h3>
                  <!-- End .summary-title -->
  
                  <table class="table table-summary">
                    <thead>
                      <tr>
                        <th>Product</th>
                        <th>Total</th>
                      </tr>
                    </thead>
                  <% products.forEach((value,index)=> { %>

                    <tbody>
                      <tr>
                        <td>
                          <a
                            ><%= value.productId.productName %>(Set: <%= value.quantity
                            %>)</a
                          >
                        </td>
                        <td>₹ <%= total %> </td>
                      </tr>
                      <% }) %>
  
                      <tr class="summary-subtotal">
                        <td>Subtotal:</td>
                        <td id="total1" ><%= total %> </td>
                      </tr>
  
                      <!-- End .summary-subtotal -->
                      <tr>
                        <td>Shipping:</td>
                        <td>Free shipping</td>
                      </tr>
                      <tr class="summary-total">
                        <td>Total:</td>
  
                        <td id="total1" > <%= total %></td>
                      </tr>
                      <!-- End .summary-total -->
                    </tbody>
                  </table>
  
                  <div class="d-flex align-items-center">
                    <div class="mr-2">
                      <input
                        required
                        type="radio"
                        id="COD"
                        name="payment"
                        value="COD"
                      />
                    </div>
                    <a href="" class="d-block text-dark" for="pay1"
                      >Cash On Delivery</a
                    >
                  </div>
  
                  <div class="d-flex align-items-center">
                    <div class="mr-2">
                      <input
                        required
                        type="radio"
                        id="payment"        
                        name="payment"
                        value="onlinePayment"
                        checked
                      />
                    </div>
                    <a href="" class="d-block text-dark" for="pay2"
                      >Online Payment</a
                    >
                  </div>
  
                  <div class="d-flex align-items-center">
                    <div class="mr-2">
                      <input
                        required
                        type="radio"
                        id="wallet"
                        name="payment"
                        value="wallet"
                      />
                    </div>
                    <a href="" class="d-block text-dark" for="pay3">Wallet</a>
                  </div>
                  <a>
                  <button
                    type="submit"
                    class="btn btn-outline-primary-2 btn-order btn-block">
                    <span class="btn-text">Place Order</span>
                    <span class="btn-hover-text">Proceed to Checkout</span>
                  </button>
                </a>
                </div>
  
                <!-- End .summary -->
              </aside>
  
              <!-- End .col-lg-3 -->
            </div>
          </form>
  
          <!-- End .row -->
        </div>
  
        <!-- End .container -->
      </div>
  
      <!-- End .checkout -->
    </div>
  
    <!-- End .page-content -->
  </main>
  <!-- End .main -->
  
  
  
  <script>
    function removeAddress(id, event) {
  // Prevent the default behavior of the anchor element (page navigation)
  event.preventDefault();

  console.log(id);
  $.ajax({
  url: "/removeAddress", // Check if this path is correct
  data: {
    id: id,
  },
  method: "post",
  success: (response) => {
    if (response.remove) {
      location.reload();
    }
  },
});
}
  
  </script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src ="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>


<script>
  $("#checkout-form").submit(function(e) {
    console.log("clicked");
    e.preventDefault(); // Prevent the default form submission

    // Your existing code
    console.log('button clicked');
    let address = $("input[name=address]:checked").val();
    let total = document.getElementById("total1").innerHTML;
    let payment = $("input[name=payment]:checked").val();
    console.log('button clicked');

    $.ajax({
      url: "/placeOrder",
      method: "post",
      data: { total: total, address: address, payment: payment },
      success: (response) => {
        console.log(response);
        if (response) {
          console.log("Form submitted successfully!");
          alert("Form submitted successfully!");
        } else {
          console.log('failed');
          alert("Form submission failed!");
        }
      },
    });
  });
</script>

    
 

<%- include('../users/mainLayout/mainFooter.ejs')%>

