<%- include('../users/mainLayout/mainHeader.ejs')%>



<main class="main" id="reloadDiv">
    <div
      class="page-header text-center"
      style="background-image: url('assets/images/page-header-bg.jpg')"
    >
      <div class="container">
        <h1 class="page-title">Checkout<span>Shop</span></h1>
      </div>
      <!-- End .container -->
    </div>
    <!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
      <div class="container">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/cart">Cart</a></li>
          <li class="breadcrumb-item active" aria-current="page">Checkout</li>
        </ol>
      </div>
      <!-- End .container -->
    </nav>
    <!-- End .breadcrumb-nav -->
  
    <div class="page-content">
      <div class="checkout">
        <div class="container">
          <!-- <a class="btn  rounded " style="color: #fff; background-color: #0978df; height: 25px; ">Available Coupons</a> -->
          <div class="">
            <label for="checkout-discount-input" class="text-truncate"
              >Have a coupon? <span>Enter your code below.</span></label
            >
          </div>
          
          <div class="cart-discount">

            
  
            <div class="input-group mb-5">
              <input
                type="text"
                class="form-control"
                
                name="code"
                id="code"
                placeholder="coupon code"
                style="
                  height: 40px;
                  border: 1px dotted #000;
                  padding-left: 10px;
                "
              />
              
              <button
              id="unApply"
                class="btn btn-outline-dark"
                style="margin: 0; width: 70px; height: 40px; display: none;"
                onclick="unApplycoupon($('#code').val())"
              >
              <i class="bi bi-x"></i>
              </button>
              
                <button
                id="apply"
                class="btn btn-outline-dark"
                style="margin: 0; width: 70px; height: 40px; "
                onclick="applycoupon($('#code').val())"
              >
                <i class="icon-long-arrow-right"></i>
              </button>
              
            </div>
        </div>
        
  
          <form id="checkout-form" >
            <div class="row">
              <div class="col-md-8">
                <h5 style="text-align: center;">Choose Billing Address</h5><br>
                <% if(address.length> 0){ %>
                 <% address.forEach((address)=>{ %>

                    

                
                

                  <div class="container">
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12">
                        <div style="width: 500px;" class="card mb-3 rounded shadow">
                          <!-- Move the close button to the top-right corner -->
                          <a href="/editCheckoutAddress?id=<%= address._id %>"><button type="button" class="close" aria-label="Edit" style="position: absolute; top: 10px; right: 10px;">
                            <i class="bi bi-pencil-square" aria-hidden="true" onclick="editAddress('<%= address._id %>')"></i>
                          </button></a>
                          <div class="custom-label p-3 m-2" onclick="handleCardClick(this)" >
                            <div class="form-check d-flex align-items-center mx-4">
                              <input class="form-check-input" type="radio" value="<%= address.fullName %>,<%= address.mobile %>,<%= address.country %>,<%= address.city %>,<%= address.state %>,<%= address.pincode %>"
                                name="address" id="flexRadioDefault" required>
                              <div class="mx-5">
                                <p class="text-dark"><b><%= address.fullName %></b>, <%= address.city %>, <%= address.state %>. Contact Number: <b style="color: #043a6c;"><span class="material-symbols-outlined" style="font-size: 13px;"><%= address.mobile %></span><%= address.mobileNumber %></b></p>
                                <p><%= address.pincode %>, <%= address.country %></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                <% } ) %>
                <button type="button" class="btn btn-primary"  style="margin-left: 10px;" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Add New Address</button>
             <% }else{ %>

              <button type="button" class="btn btn-primary"  style="margin-left: 10px;" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Add New Address</button>


            <% } %>
                

              

              </div>
              <!-- End .col-md-6 -->
  
              <aside class="col-lg-3">
                <div class="summary">
                  <h3 class="summary-title">Your Order</h3>
                  <!-- End .summary-title -->
  
                  <table class="table table-summary">
                    <thead>
                      <tr>
                        <th>Product</th>
                        <th>Total</th>
                      </tr>
                    </thead>
                  <% products.forEach((value,index)=> { %>

                    <tbody>
                      <tr>
                        <td>
                          <a
                            ><%= value.productId.productName %>(Set: <%= value.quantity
                            %>)</a
                          >
                        </td>
                        <td>₹ <%= value.productId.price %> </td>
                      </tr>
                      <% }) %>
  
                      <tr class="summary-subtotal">
                        <td>Subtotal:</td>
                        <td id="total1" ><%= total %> </td>
                      </tr>
  
                      <!-- End .summary-subtotal -->
                      <tr>
                        <td>Shipping:</td>
                        <td>Free shipping</td>
                      </tr>
                      <tr class="summary-total">
                        <td>Total:</td>
  
                        <td id="total2" > <%= total %></td>
                      </tr>
                      <!-- End .summary-total -->
                    </tbody>
                  </table>
  
                  <div class="d-flex align-items-center">
                    <div class="mr-2">
                      <input
                        required
                        type="radio"
                        id="COD"
                        name="payment"
                        value="COD"
                      />
                    </div>
                    <a href="" class="d-block text-dark" for="pay1"
                      >Cash On Delivery</a
                    >
                  </div>
  
                  <div class="d-flex align-items-center">
                    <div class="mr-2">
                      <input
                        required
                        type="radio"
                        id="payment"        
                        name="payment"
                        value="onlinePayment"
                        checked
                      />
                    </div>
                    <a href="" class="d-block text-dark" for="pay2"
                      >Online Payment</a
                    >
                  </div>
  
                  <div class="d-flex align-items-center">
                    <div class="mr-2">
                      <input
                        required
                        type="radio"
                        id="wallet"
                        name="payment"
                        value="wallet"
                      />
                    </div>
                    <a href="" class="d-block text-dark" for="pay3">Wallet</a>
                  </div>
                  <a href="#">
                  <button
                    type="submit"
                    class="btn btn-outline-primary-2 btn-order btn-block">
                    <span class="btn-text">Place Order</span>
                    <span class="btn-hover-text">Proceed to Checkout</span>
                  </button>
                </a>
                
                </div>
  
                <!-- End .summary -->
              </aside>


  
             
            </div>
          </form>




<!--====================================================================addAddress================================================================= -->

          <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="margin-top: 130px;">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/checkoutAddress" method="post" onsubmit="return validateForm()" class="border rounded p-4" style="width: 530px;">
          <div class="form-group">
              <div class="row">
                  <div class="col">
                      <label for="FullName">Full Name *</label>
                      <input type="text" class="form-control" id="FullName" name="fullName" style="height: 37px" placeholder="fullname">
                      <span class="error-message text-danger" id="fullNameError"></span>
                  </div>
                  <div class="col">
                      <label for="country">Country *</label>
                      <input type="text" class="form-control" id="country" name="country" style="height: 37px">
                      <span class="error-message text-danger" id="countryError"></span>
                  </div>
              </div>
              <div class="row">
                  <div class="col">
                      <label for="city">City *</label>
                      <input type="text" class="form-control" id="city" name="city" style="height: 37px">
                      <span class="error-message text-danger" id="cityError"></span>
                  </div>
                  <div class="col">
                      <label for="state">State *</label>
                      <input type="text" class="form-control" id="state" name="state" style="height: 37px">
                      <span class="error-message text-danger" id="stateError"></span>
                  </div>
              </div>
              <div class="row">
                  <div class="col">
                      <label for="pinCode">Pin Code *</label>
                      <input type="text" class="form-control" id="pinCode" name="pincode" style="height: 37px">
                      <span class="error-message text-danger" id="pinCodeError"></span>
                  </div>
                  <div class="col">
                      <label for="phone">Mobile *</label>
                      <input type="tel" class="form-control" id="phone" name="mobile" style="height: 37px">
                      <span class="error-message text-danger" id="phoneError"></span>
                  </div>
              </div>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn rounded" style="background-color: rgb(199, 37, 37); " data-bs-dismiss="modal">Close</button>
       <button type="submit" class="btn  mx-auto rounded" style="background-color: rgb(70, 70, 215); color: #fff;">Register</button> 
      </div>
    </div>
  </div>
</div>



        
        </div>
  
       
      </div>
  
     
    </div>


<!--====================================================================addAddress================================================================= -->

                                          



  
    
  </main>
  <!-- End .main -->
  
  
  




  

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <script>
    $(document).ready(function() {
      $("#checkout-form").on("submit", function(e) {
        e.preventDefault(); // Prevent the default form submission
  
        // Your existing code
        console.log("clicked");
        var address = $("input[name=address]:checked").val();
        var total = $("#total2").text();
        var payment = $("input[name=payment]:checked").val();
        console.log('button clicked');

        console.log('Before AJAX request');
        // Send the data using jQuery AJAX
        $.ajax({
          type: "POST",
          url: "/placeOrder",
          data: { total: total, address: address, payment: payment },
          success: function(response) {
            if (response.success === true) {
              
              window.location.href =  `/orderPlaced/${response.orderid}`
            }else if(response.walletFailed == true){
              swal.fire({
            position: "center",
            icon: "error",
            title: "Insufficient Balance In Your Wallet",
            showConfirmButton: false,
            showCancelButton: false,
            timer: 1500,
          });

            }else {
              razorPayment(response.order)
            }
          }
        });
        console.log('After AJAX request');
      });
    });


    function razorPayment(order) {
    // console.log(process.env.RazorId);
    console.log("entered to razorpay");
    var options = {
      key: "rzp_test_iIL0fxIFCvKlo5", // Enter the Key ID generated from the Dashboard
      amount: order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
      currency: "INR",
      name: "M LIVE Pvt.Ltd", //your business name
      description: "Test Transaction",
      image: "/static/userAssets/images/icons/logo black inter.png",
      order_id: order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
      handler: function (response) {
        verifyPayment(response, order);
      },
      prefill: {
        //We recommend using the prefill parameter to auto-fill customer's contact information especially their phone number
        name: " M LIVE Pvt.Ltd", //your customer's name
        email: "MLIVEMARKET@example.com",
        contact: "9230566487", //Provide the customer's phone number for better conversion rates
      },
      notes: {
        address: "Razorpay Corporate Office",
      },
      theme: {
        color: "#3399cc",
      },
    };

    var rzp1 = new Razorpay(options);
    rzp1.open();
  }


  function verifyPayment(payment, order) {
    const amount2 = document.getElementById("total2").innerHTML;
    $.ajax({
  url: "/verifyPayment",
  method: "post",
  data: {
    payment: payment,
    amount2: amount2,
    order: order,
  },
  success: (response) => {
    if (response.codsuccess == true) {
      location.href = `/orderPlaced/${response.orderid}`;
    } else {
      swal.fire({
        positon: "center",
        icon: "error",
        title: "Payment failed",
        showConfirmButton: false,
        timer: 1500,
      });
    }
  },
  error: (xhr, status, error) => {
    console.error("AJAX request failed:", status, error);
    // Handle the error appropriately (e.g., show an error message to the user).
  },
});
  }

  </script>

<!-- ================================================handling the radioButton to active entire the div========================================= -->

<script>
  function handleCardClick(card) {
    // Trigger the click event of the radio button
    const radioButton = card.querySelector('.form-check-input');
    radioButton.click();
  }
  </script>



<script>
  function applycoupon(code) {
    
    const amount = document.getElementById('total2').innerHTML;
   
    
    $.ajax({
      url: "/couponApply",   
      data: {
        code: code,
        amount: amount
      },
      method: "post",
      success: (response) => {
        if (response.user) {
          Swal.fire({
            icon: 'error',
            title: 'Oops !!',
            text: 'This coupon already used!'
          })
        }else if (response.cartAmount) {
          Swal.fire({
            icon: 'warning',
            title: 'Oops !!',
            text: 'You cant use the coupon...Buy more'
          })
        } else if (response.amountOkey) {
         console.log(response);
          document.getElementById('total2').innerHTML = response.disTotal
          
          document.getElementById('apply').style.display = "none"
          document.getElementById('unApply').style.display = ""
          Swal.fire({
            position: 'center',
            icon: 'success',
            title: 'Discount redeemed',
            showConfirmButton: false,
            timer: 1500
          })
          
        } else {
          Swal.fire({
            icon: 'error',
            title: 'Oops !!!',
            text: 'Invalid Coupon!!!'
          })
        }
      }
    })
  }




  function unApplycoupon(code) {
        const amount = document.getElementById('total2').innerHTML;
        $.ajax({
          url: "/deleteCoupon",
          data:{
            code:code,
            amount: amount
          },
          method: "post",
          success: (response)=>{
            if(response.success){
              document.getElementById('total2').innerHTML = response.disTotal
              
              document.getElementById('apply').style.display = "block"
              document.getElementById('unApply').style.display = "none"
              Swal.fire({
                icon: 'warning',
                title: 'Deleted !!',
                text: 'Applied coupon is deleted.'
              })
            }
          }
        })
        }
</script>


 

<%- include('../users/mainLayout/mainFooter.ejs')%>

