<%- include('../users/mainLayout/mainHeader.ejs')%>
  
<main class="main">
    <div class="page-header text-center " style="background-image: url('/user/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title text-white">Edit Address</h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item " aria-current="page">My Account</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <style>
        /* body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        } */

        /* .container {
            background: #f7f7f7;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            width: 400px;
        } */

        .form-group {
            margin-bottom: 20px;
        }

        label {
            display: block;
            font-weight: bold;
        }

        input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        button {
            background: #007bff;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2 class="checkout-title">Billing Details</h2>
        <form action="" method="post">
            <div class="form-group">
                <label for="FullName">Full Name</label>
                <input type="text" class="form-control" id="FullName" name="fullName" value="<%=addresses.fullName%>" required>
            </div>

            <div class="form-group">
                <label for="country">Country *</label>
                <input type="text" class="form-control" id="country" name="country" value="<%=addresses.country%>"  required>
            </div>

            <div class="form-group">
                <label for="city">City *</label>
                <input type="text" class="form-control" id="city" name="city" value="<%=addresses.city%>" required>
            </div>

            <div class="form-group">
                <label for="state">State *</label>
                <input type="text" class="form-control" id="state" name="state" value="<%=addresses.state%>" required>
            </div>

            <div class="form-group">
                <label for="pinCode">Pin Code *</label>
                <input type="text" class="form-control" id="pinCode" name="pincode" value="<%=addresses.pincode%>" required>
            </div>

            <div class="form-group">
                <label for="phone">Mobile *</label>
                <input type="tel" class="form-control" id="phone" name="mobile" value="<%=addresses.mobile%>" required>
            </div>

            <button type="submit" class="">Register</button>

            <input type="hidden" name="id" value="<%= addresses._id %>">
        </form>
    </div>
</main><!-- End .main -->



<%- include('../users/mainLayout/mainFooter.ejs')%>