<%- include('../users/mainLayout/mainHeader.ejs')%>




<!-- Slider -->
<section class="section-slide">
<div class="wrap-slick1 rs2-slick1">
    <div class="slick1">
        <div class="item-slick1 bg-overlay1" style="background-image: url('/static/products/banner/<%= banners[0].image %>');" data-thumb="/static/products/banner/<%= banners[0].image %>" data-caption="Women’s Wear">
            <div class="container h-full">
                <div class="flex-col-c-m h-full p-t-100 p-b-60 respon5">
                    <div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="0">
                        <span class="ltext-202 txt-center cl0 respon2">
                           
                            <%= banners[0].typeHead %>
                        </span>
                    </div>
                        
                    <div class="layer-slick1 animated visible-false" data-appear="fadeInUp" data-delay="800">
                        <h2 class="ltext-104 txt-center cl0 p-t-22 p-b-40 respon1">
                            <%= banners[0].mainHead %>
                        </h2>
                    </div>
                        
                    <div class="layer-slick1 animated visible-false" data-appear="zoomIn" data-delay="1600">
                        <a href="<%= banners[0].bannerURL %>" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn2 p-lr-15 trans-04">
                            Shop Now
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="item-slick1 bg-overlay1" style="background-image: url('/static/products/banner/<%= banners[1].image %>');" data-caption="Men’s Wear">
            <div class="container h-full">
                <div class="flex-col-c-m h-full p-t-100 p-b-60 respon5">
                    <div class="layer-slick1 animated visible-false" data-appear="rollIn" data-delay="0">
                        <span class="ltext-202 txt-center cl0 respon2">
                            <%= banners[1].typeHead %>
                        </span>
                    </div>
        
                    <div class="layer-slick1 animated visible-false" data-appear="lightSpeedIn" data-delay="800">
                        <h2 class="ltext-104 txt-center cl0 p-t-22 p-b-40 respon1">
                            <%= banners[1].mainHead %>
                        </h2>
                    </div>
        
                    <div class="layer-slick1 animated visible-false" data-appear="slideInUp" data-delay="1600">
                        <a href="<%= banners[1].bannerURL %>" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn2 p-lr-15 trans-04">
                            Shop Now
                        </a>
                    </div>
                </div>
            </div>
        </div>
        

      
</div>
</section>


<!-- Banner -->
<div class="sec-banner bg0 p-t-95 p-b-55">
<div class="container">
    <div class="row">
        <div class="col-md-6 p-b-30 m-lr-auto" >
            <!-- Block1 -->
            <div class="block1 wrap-pic-w" style="height: 315px;">
                <img src="/static/products/banner/<%= banners[2].image %>" alt="IMG-BANNER">

                <a href="<%= banners[2].bannerURL %>" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
                    <div class="block1-txt-child1 flex-col-l">
                        <span class="block1-name ltext-102 trans-04 p-b-8 text-white">
                            <%= banners[2].typeHead %>
                        </span>

                        <span class="block1-info stext-102 trans-04 text-white">
                            <%= banners[2].mainHead %>
                        </span>
                    </div>

                    <div class="block1-txt-child2 p-b-4 trans-05">
                        <a href="<%= banners[2].bannerURL %>"><div class="block1-link stext-101 cl0 trans-09">
                            Shop Now
                        </div></a>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-md-6 p-b-30 m-lr-auto">
            <!-- Block1 -->
            <div class="block1 wrap-pic-w" style="height: 315px;">
                <img src="/static/products/banner/<%= banners[3].image %>" alt="IMG-BANNER">

                <a href="<%= banners[3].bannerURL %>" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
                    <div class="block1-txt-child1 flex-col-l">
                        <span class="block1-name ltext-102 trans-04 p-b-8 text-white">
                            <%= banners[3].typeHead %> 
                        </span>

                        <span class="block1-info stext-102 trans-04 text-white">
                            <%= banners[3].mainHead %>

                        </span>
                    </div>

                    <div class="block1-txt-child2 p-b-4 trans-05">
                        <a href="<%= banners[3].bannerURL %>"><div class="block1-link stext-101 cl0 trans-09">
                            Shop Now
                        </div></a>
                    </div>
                </a>
            </div>
        </div>

        <!-- <div class="col-md-6 col-lg-4 p-b-30 m-lr-auto">
            Block1
            <div class="block1 wrap-pic-w">
                <img src="/static/userAssets/images/banner-07.jpg" alt="IMG-BANNER">

                <a href="product.html" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
                    <div class="block1-txt-child1 flex-col-l">
                        <span class="block1-name ltext-102 trans-04 p-b-8">
                            Watches
                        </span>

                        <span class="block1-info stext-102 trans-04">
                            Spring 2018
                        </span>
                    </div>

                    <div class="block1-txt-child2 p-b-4 trans-05">
                        <div class="block1-link stext-101 cl0 trans-09">
                            Shop Now
                        </div>
                    </div>
                </a>
            </div>
        </div> -->

        <!-- <div class="col-md-6 col-lg-4 p-b-30 m-lr-auto">
            Block1
            <div class="block1 wrap-pic-w">
                <img src="/static/userAssets/images/banner-08.jpg" alt="IMG-BANNER">

                <a href="product.html" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
                    <div class="block1-txt-child1 flex-col-l">
                        <span class="block1-name ltext-102 trans-04 p-b-8">
                            Bags
                        </span>

                        <span class="block1-info stext-102 trans-04">
                            Spring 2018
                        </span>
                    </div>

                    <div class="block1-txt-child2 p-b-4 trans-05">
                        <div class="block1-link stext-101 cl0 trans-09">
                            Shop Now
                        </div>
                    </div>
                </a>
            </div>
        </div> -->

        <!-- <div class="col-md-6 col-lg-4 p-b-30 m-lr-auto">
            Block1
            <div class="block1 wrap-pic-w">
                <img src="/static/userAssets/images/banner-09.jpg" alt="IMG-BANNER">

                <a href="product.html" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
                    <div class="block1-txt-child1 flex-col-l">
                        <span class="block1-name ltext-102 trans-04 p-b-8">
                            Accessories
                        </span>

                        <span class="block1-info stext-102 trans-04">
                            Spring 2018
                        </span>
                    </div>

                    <div class="block1-txt-child2 p-b-4 trans-05">
                        <div class="block1-link stext-101 cl0 trans-09">
                            Shop Now
                        </div>
                    </div>
                </a>
            </div>
        </div> -->
    </div>
</div>
</div>




<section class="section-slide">
    <div class="wrap-slick1 rs2-slick1">
        <div class="slick1">
            <div class="item-slick1 bg-overlay1" style="background-image: url('/static/products/banner/<%= banners[4].image %>');" data-thumb="/static/products/banner/<%= banners[0].image %>" data-caption="Women’s Wear">
                <div class="container h-full">
                    <div class="flex-col-c-m h-full p-t-100 p-b-60 respon5">
                        <div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="0">
                            <span class="ltext-202 txt-center cl0 respon2">
                               
                                <%= banners[2].typeHead %>
                            </span>
                        </div>
                            
                        <div class="layer-slick1 animated visible-false" data-appear="fadeInUp" data-delay="800">
                            <h2 class="ltext-104 txt-center cl0 p-t-22 p-b-40 respon1">
                                <%= banners[2].mainHead %>
                            </h2>
                        </div>
                            
                        <div class="layer-slick1 animated visible-false" data-appear="zoomIn" data-delay="1600">
                            <a href="<%= banners[2].bannerURL %>" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn2 p-lr-15 trans-04">
                                Shop Now
                            </a>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="item-slick1 bg-overlay1" style="background-image: url('/static/products/banner/<%= banners[1].image %>');" data-caption="Men’s Wear">
                <div class="container h-full">
                    <div class="flex-col-c-m h-full p-t-100 p-b-60 respon5">
                        <div class="layer-slick1 animated visible-false" data-appear="rollIn" data-delay="0">
                            <span class="ltext-202 txt-center cl0 respon2">
                                <%= banners[1].typeHead %>
                            </span>
                        </div>
            
                        <div class="layer-slick1 animated visible-false" data-appear="lightSpeedIn" data-delay="800">
                            <h2 class="ltext-104 txt-center cl0 p-t-22 p-b-40 respon1">
                                <%= banners[1].mainHead %>
                            </h2>
                        </div>
            
                        <div class="layer-slick1 animated visible-false" data-appear="slideInUp" data-delay="1600">
                            <a href="<%= banners[1].bannerURL %>" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn2 p-lr-15 trans-04">
                                Shop Now
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            
    
          
    </div>
    </section>

    


<%- include('../users/mainLayout/mainFooter.ejs')%>
