<%- include('../users/mainLayout/mainHeader.ejs')%>




<!-- Slider -->
<section class="section-slide">
    <div class="wrap-slick1 rs2-slick1">
        <div class="slick1">
            <% banners.forEach(function(banner) { %>
                <div class="item-slick1 bg-overlay1 mobile-image" style="background-image: url('/static/products/banner/<%=banner.image %>')" data-thumb="/static/products/banner/<%=banner.image %>"  data-caption="<%= banner.mainHead %>"   >
                    <div class="container h-full">
                        <div class="flex-col-c-m h-full p-t-100 p-b-60 respon5">
                            <div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="0">
                                <span class="ltext-202 txt-center cl0 respon2">
                                    <%= banner.typeHead %>
                                </span>
                            </div>
                            <div class="layer-slick1 animated visible-false" data-appear="fadeInUp" data-delay="800">
                                <h2 class="ltext-104 txt-center cl0 p-t-22 p-b-40 respon1">
                                    <%= banner.mainHead %>
                                </h2>
                            </div>
                            <div class="layer-slick1 animated visible-false" data-appear="zoomIn" data-delay="1600">
                                <a href="<%= banner.bannerURL %>" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn2 p-lr-15 trans-04">
                                    Shop Now
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
        <div class="wrap-slick1-dots p-lr-10"></div>
    </div>
</section>



<!-- mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm -->
	<!-- Product -->
	<section class="bg0 p-t-23 p-b-130">
		<div class="container">
			<div class="p-b-10">
				<h3 class="ltext-103 cl5">
					Product Overview
				</h3>
			</div>

			<div class="flex-w flex-sb-m p-b-52">
				<div class="flex-w flex-l-m filter-tope-group m-tb-10">
					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 filter-button category-*">
						All Products
					</button>
					<%category.forEach((cat)=>{%>

					
						<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".category-<%= cat.name %>">
						<%= cat.name %>
					</button>
				<%})%>

					
				</div>

				
			</div>

			<div class="row isotope-grid">
                <% product.forEach((product)=>{ %>
                <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women category-<%= product.category.name %> " 	>
                    <div class="block2">
                        
                            <div class="block2-pic hov-img0 d-flex  " style=" height: 323px; background-color: #F7F7F7;" >
                                <% if(product.offer && product.offer.percentage > 0) { %>
                                    <div class="discount-badge" style="background-color: #ff5733;
                                   color: #f8f8f8;
                                    padding: 5px;
                                     position: absolute;
                                     z-index: 1;
                                    width: 74px;">
                                       
                                            <span class="stext-103 size-102">
                                                <%= product.offer.percentage %> % OFF
                                            </span>
                                        
                                    </div>
                                    <% } %>
                           
                                <img style="width: 300px; height: 319px;" src="/static/adminAssets/images/<%= product.image[0] %>" alt="IMG-PRODUCT">
                        
                                <a href="/productDetails?id=<%= product._id %>" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
                                    Quick View
                                </a>
                            </div>
                        
                            <div class="block2-txt flex-w flex-t p-t-14 ">
                                <div class="block2-txt-child1 flex-col-l">
                                    <span class="stext-105 cl3">
                                        <%= product.brand %>
                                    </span>
                                    <a href="" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                        <%= product.productName %>   
                                    </a>
                        
                                    <% if(product.offer && product.offer.percentage>0){%>
                                        <div class="d-flex justify-content-between">
                                        
                                        <span class="stext-105 cl3 " ">
                                         <p class="text-danger">   ₹<%= Math.ceil(product.discountedPrice) %>   </p>
                                        </span>
                                        &nbsp;
                                        &nbsp;
                                        <span class="stext-105 cl3 ">
                                            <del>₹<%= product.price %> </del>  
                                        </span>
                                    </div>
                                   <% }else{%>
                                    <span class="stext-105 cl3 ">
                                        ₹<%= product.price %>  
                                    </span>
                                  <% }%>
                                </div>
    
                                
                        
                                <div>
                                    <a onclick="addToCart('<%= product._id %>')" class="add-cart"  >
                                        <button><img src="static/userAssets/img/326700_cart_shopping_icon.png" style="height: 19px; padding-right: 6px; width: 26px; margin-bottom: 6px;"></button>
                                        
                                    </a>
                                    <a id="wishlist-button" >
    
                                        <button><img src="/static/userAssets/images/icons/icon-heart-01.png" style="height: 19px; padding-right: 6px; width: 26px; margin-bottom: 6px;" alt="ICON"></button>
    
                                        
                                       
                                    </a>
                                    
                                </div>
                            </div>
    
                       
                        
                    </div>
                </div>
                <% }) %>
            </div>  
		</div>
	</section>
  <!-- nnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn -->

	<!-- Footer -->

    

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        
        const wishlistButtons = document.querySelectorAll('#wishlist-button');
    
        
        wishlistButtons.forEach(button => {
            button.addEventListener('click', function (event) {
                event.preventDefault();
    
                
                button.classList.add('red-wishlist-button');
    
                
                Swal.fire({
                    title: 'Item added to your wishlist!',
                    icon: 'success',
                });
            });
        });


        const cartButtons = document.querySelectorAll('#cart-button');
    
        
       

        function addToCart(id) {
  console.log("addToCart function called with id: " + id);
  $.ajax({
    url: "/addTocart",
    method: "post",
    encoded: true,
    data: {
      id: id
    },
  }).done((data) => {
    if (data) {
      console.log(data);

      Swal.fire({
  position: 'top-end',
  icon: 'success',
  title: 'Item has been added to Cart!',
  showConfirmButton: false,
  timer: 1000
})
    } else {
      swal("Fail to add");
    }
  });
}





$(document).ready(function () {
        // Listen for input changes in the search bar
        $('#searchInput').on('input', function () {
            const searchText = $(this).val().toLowerCase();

            // Loop through each row in the table and hide/show based on search text
            $('#user-table tbody tr').each(function () {
                const row = $(this);

                // Check if any cell in the row contains the search text
                const found = row.find('td').toArray().some(function (cell) {
                    const cellText = $(cell).text().toLowerCase();
                    return cellText.includes(searchText);
                });

                // Show or hide the row accordingly
                if (found) {
                    row.show();
                } else {
                    row.hide();
                }
            });
        });
    });


    </script>


<script>
      document.addEventListener('DOMContentLoaded', function () {
        var buttons = document.querySelectorAll('.stext-106');
        var products = document.querySelectorAll('.isotope-item');

        buttons.forEach(function (button) {
            button.addEventListener('click', function () {
                var categoryToFilter = button.getAttribute('data-filter');

                products.forEach(function (product) {
                    var productCategory = product.getAttribute('data-category');

                    if (categoryToFilter === 'all' || categoryToFilter === productCategory) {
                        // Show or hide products based on the category
                        product.style.display = 'block';
                    } else {
                        product.style.display = 'none';
                    }
                });
            });
        });
    });
</script>

<%- include('../users/mainLayout/mainFooter.ejs')%>
