
<%- include('../users/mainLayout/mainHeader.ejs')%>



<section class="bg0 p-t-23 p-b-130">
    <div class="container">
        <!-- <div class="p-b-10">
            <h3 class="ltext-103 cl5">
                Product Overview
            </h3>
        </div> -->
    
        <div class="flex-w flex-sb-m p-b-52">
            <div class="flex-w flex-l-m filter-tope-group m-tb-10">
                <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
                    All Products
                </button>
    
                <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".women">
                    Women
                </button>
    
                <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".men">
                    Men
                </button>
    
                <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".bag">
                    Sandals
                </button>
    
                <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".shoes">
                    Shoes
                </button>
    
                <!-- <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".watches">
                    Watches
                </button> -->
            </div>
    
            <div class="flex-w flex-c-m m-tb-10">
                <div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
                    <i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
                    <i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
                     Filter
                </div>
    
                <div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
                    <i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
                    <i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
                    Search
                </div>
            </div>
            
            <!-- Search product -->
            <div class="dis-none panel-search w-full p-t-10 p-b-15">
                <div class="bor8 dis-flex p-l-15">
                    <button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
                        <i class="zmdi zmdi-search"></i>
                    </button>
    
                    <input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search-product" placeholder="Search">
                </div>	
            </div>
    
            <!-- Filter -->
            <div class="dis-none panel-filter w-full p-t-10">
                <div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
                    <div class="filter-col1 p-r-15 p-b-27">
                        <div class="mtext-102 cl2 p-b-15">
                            Sort By
                        </div>
    
                        <ul>
                            <li class="p-b-6">
                                <a href="#" class="filter-link stext-106 trans-04">
                                    Default
                                </a>
                            </li>
    
                            <li class="p-b-6">
                                <a href="#" class="filter-link stext-106 trans-04">
                                    Casuals
                                </a>
                            </li>
    
                            <li class="p-b-6">
                                <a href="#" class="filter-link stext-106 trans-04">
                                    Formals
                                </a>
                            </li>
    
                            <!-- <li class="p-b-6">
                                <a href="#" class="filter-link stext-106 trans-04 ">
                                    Newness
                                </a>
                            </li> -->
    
                            <li class="p-b-6">
                                <a href="#" class="filter-link stext-106 trans-04">
                                    Price: Low to High
                                </a>
                            </li>
    
                            <li class="p-b-6">
                                <a href="#" class="filter-link stext-106 trans-04">
                                    Price: High to Low
                                </a>
                            </li>
                        </ul>
                    </div>
    
                    <div class="filter-col2 p-r-15 p-b-27">
                        <div class="mtext-102 cl2 p-b-15">
                            Price
                        </div>
    
                        <ul>
                            <li class="p-b-6">
                                <a href="#" class="filter-link stext-106 trans-04 filter-link-active">
                                    All
                                </a>
                            </li>
    
                            <li class="p-b-6">
                                <a href="#" class="filter-link stext-106 trans-04">
                                    $0.00 - $50.00
                                </a>
                            </li>
    
                            <li class="p-b-6">
                                <a href="#" class="filter-link stext-106 trans-04">
                                    $50.00 - $100.00
                                </a>
                            </li>
    
                            <li class="p-b-6">
                                <a href="#" class="filter-link stext-106 trans-04">
                                    $100.00 - $150.00
                                </a>
                            </li>
    
                            <li class="p-b-6">
                                <a href="#" class="filter-link stext-106 trans-04">
                                    $150.00 - $200.00
                                </a>
                            </li>
    
                            <li class="p-b-6">
                                <a href="#" class="filter-link stext-106 trans-04">
                                    $200.00+
                                </a>
                            </li>
                        </ul>
                    </div>
    
                    
    
                    <div class="filter-col4 p-b-27">
                        <div class="mtext-102 cl2 p-b-15">
                            Tags
                        </div>
    
                        <div class="flex-w p-t-4 m-r--5">
                            <a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                Fashion
                            </a>
    
                            <a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                Lifestyle
                            </a>
    
                            <a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                Denim
                            </a>
    
                            <a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                Streetstyle
                            </a>
    
                            <a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                Crafts
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="row isotope-grid">
            <% product.forEach((product)=>{ %>
            <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
                <div class="block2">
                    
                        <div class="block2-pic hov-img0 d-flex align-items-center " style=" height: 323px; background-color: #F7F7F7;" >
                       
                            <img style="width: 300px; height: 319px;" src="/static/adminAssets/images/<%= product.image[0] %>" alt="IMG-PRODUCT">
                    
                            <a href="/productDetails?id=<%= product._id %>" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
                                Quick View
                            </a>
                        </div>
                    
                        <div class="block2-txt flex-w flex-t p-t-14 ">
                            <div class="block2-txt-child1 flex-col-l">
                                <span class="stext-105 cl3">
                                    <%= product.brand %>
                                </span>
                                <a href="" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                    <%= product.productName %>
                                     
                                </a>
                    
                                <span class="stext-105 cl3">
                                    <span>&#8377 </span><%= product.price %>
                                </span>
                            </div>

                            
                    
                            <div>
                                <a onclick="addToCart('<%= product._id %>')" class="add-cart"  >
                                    <button><img src="static/userAssets/img/326700_cart_shopping_icon.png" style="height: 19px; padding-right: 6px; width: 26px; margin-bottom: 6px;"></button>
                                    
                                </a>
                                <a id="wishlist-button" >

                                    <button><img src="/static/userAssets/images/icons/icon-heart-01.png" style="height: 19px; padding-right: 6px; width: 26px; margin-bottom: 6px;" alt="ICON"></button>

                                    
                                   
                                </a>
                                
                            </div>
                        </div>

                   
                    
                </div>
            </div>
            <% }) %>
        </div>                  
    
        <!-- Pagination -->
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li class="page-item <%= currentPage === 1 ? 'disabled' : '' %>">
                <a class="page-link" href="/shop?page=<%= currentPage - 1 %>" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <% for (let i = 1; i <= pages; i++) { %>
                <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                  <a class="page-link" href="/shop?page=<%= i %>"><%= i %></a>
                </li>
              <% } %>
              <li class="page-item <%= currentPage === pages ? 'disabled' : '' %>">
                <a class="page-link" href="/shop?page=<%= currentPage + 1 %>" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>

          <!-- Pagination End -->
        
    </div>
    </section>


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        
        const wishlistButtons = document.querySelectorAll('#wishlist-button');
    
        
        wishlistButtons.forEach(button => {
            button.addEventListener('click', function (event) {
                event.preventDefault();
    
                
                button.classList.add('red-wishlist-button');
    
                
                Swal.fire({
                    title: 'Item added to your wishlist!',
                    icon: 'success',
                });
            });
        });


        const cartButtons = document.querySelectorAll('#cart-button');
    
        
       

        function addToCart(id) {
  console.log("addToCart function called with id: " + id);
  $.ajax({
    url: "/addTocart",
    method: "post",
    encoded: true,
    data: {
      id: id
    },
  }).done((data) => {
    if (data) {
      console.log(data);

      Swal.fire({
  position: 'top-end',
  icon: 'success',
  title: 'Item has been added to Cart!',
  showConfirmButton: false,
  timer: 1000
})
    } else {
      swal("Fail to add");
    }
  });
}





    </script>

    

<%- include('../users/mainLayout/mainFooter.ejs')%>


   